<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link href="./css/article.css" rel="stylesheet" >
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> 
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
    
    
</head>

<body>
    <div class="container">
        <nav id="home-nav">
            <a href="./allArticles?sortby=desc">Home</a>
            <a href="#">For You</a>
            <a href="./yourArticles?sortby=desc">Yours</a> 
        </nav>
        {{#if toastMessage}}
        <p>{{toastMessage}}</p>
        {{/if}}
        {{{body}}}
    </div>
</body>

</html>