<form action="./processPassword" method = "POST" onsubmit="return verifyPassword();">    
    <label for="password">Password:</label><br>
    <input type ="password" id="password" name="password"><br>
    <label for="confirmPassword">Confirm Password:</label><br>
    <input type ="password" id="confirmPassword" name="confirmPassword"><br>
     <input type="submit" value="Submit"/>
    
</form>
<script>
    function verifyPassword() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;

    if (password !== confirmPassword) {
        alert("Passwords do not match.  Please re-enter.");
        return false;
    }
    return true;
}</script>