.container {
    margin: 10px;
}
#article-fieldset {
    margin:10px
}

#article-editor{
    margin: auto;
    width: 800px;
}
.editor-item, #submit, #reset, .ql-toolbar{
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
}

#quill-editor{
    margin: 10px 10px;
}


#publish, #back-to-yours {
    margin: 10px;
    color: rgb(4, 44, 46);
    font-weight: bolder;
    font-size: 1em;
    border: 2px solid rgb(122, 119, 119);
    border-radius: 5px;
    background-color: rgb(192, 228, 216);
    text-decoration: none;
}

.ql-snow{
    .ql-picker{
        &.ql-size{
            .ql-picker-label,
            .ql-picker-item{
                &::before{
                    content: attr(data-value) !important;
                }
            }
        }
    }
}

#quill-editor{
    width: 750px;
    height: 300px;
}

.article-img{
    width:100px;
    height:100px;
}

.hint {
    font-style: italic;
    font-weight: lighter;
    color: rgb(51, 50, 50);
}

.articles-container{
    margin: auto;
    width: 65%;
    font-size: 1em;
    font-weight: bold;
}

.hr-container {
    text-align: center;
}

.article-hr {
    border: 1px dashed rgb(34, 17, 44);
}

#legend {
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
}

#add-article {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #84a19f;
    padding: 5px 11px;
    border-style: 2px solid;
    border-radius: 10px;
    margin: 10px auto;
}

#uploaded-container, .preview-image, .images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.uploaded-img , .preview-image img{
    width: 80px;
    height: 80px;
}

.favotite-img {
    width: 50px;
    height: 50px;
}

#home-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#home-nav a{
    text-decoration: none;
    margin: 20px;
    border: 2px solid;
    border-style: 2px solid;
    border-radius: 5px;
    background-color: rgb(227, 226, 228);
}

#grid-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "body body"
    "comment operation";
}

#article-body{
    grid-area: body;
}

#article-comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    grid-area: comment;
}

#article-operation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    grid-area: operation;
}

#article-comment button {
    margin:5px;
}

#article-operation button, #addComment{
    font-size: 16;
    font-weight: bolder;
    margin: auto 5px;
    border: 2px solid darkgray;
    border-radius: 5px;
}

.like-button {
    display: inline-block;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    &::before {
      font-size: 3em;
      color: #635f6b;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      font-size: 3em;
      color: red;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s;
    }
    &.liked::after {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

#sortby {
    font-size: 20;
}

.divider {
	width:750px;
	text-align:center;
    margin: auto;
}

.divider h2 {
    color: #3e3341;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(53, 49, 49);
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
    border: 2px solid rgb(185, 174, 174);
    border-radius: 10px;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* Responsive design */
/*****************************************************************/
@media screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: 10px auto;
    }
}
/*****************************************************************/

