/* feature one */


body {
    margin: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.form-container{
    padding: 2rem;
    border-radius: 5px;    
    box-shadow: 6px 6px 6px rgba(83, 82, 82, 0.2);
    margin: 5px;
}

.flex-col {
    display: flex;
    align-items: left;
    margin: 10px;
}

.form-container button{
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 6px 6px 6px rgba(83, 82, 82, 0.2);
}

.form-container fieldset{
    border-radius: 10px;
}

#new-account-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#username-check {
    color: brown;
    margin: 0 10px;
} 

.avatar-icon-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.avatar-img {
    width: 60px;
    height: 60px;
}

.user-icon {
    width: 80px;
    height: 80px;
}

.txtarea-account {
    text-align: left;
    overflow:auto; 
    border:2px outset #000000;
}

form {
    margin: 10px;
}

fieldset > button {
    margin: 10px;
    display: inline-block;
}
